{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="col-3">  
    <form class="form-inline m-2" action="{% url 'busca_biblio' %}" method="GET">
        <input class="form-control my-2" type="text" placeholder="Buscar por nombre" aria-label="Search" name = "search">
        <button class="btn btn-outline-success m-2" type="submit">Buscar</button>
    </form>
    </div>
    <div class="col-3">
    <a class="btn btn-outline-dark m-2" href="{% url 'biblio_list' %}" role="button">Ver listado completo</a>
    </div>
    <div class="col-3">  
    <a class="btn btn-outline-primary m-2" href="{% url 'carga_biblio' %}" role="button">Sumar Biblioteca</a>
    </div>
    <div class="col-3">  
    <a class="btn btn-outline-danger m-2" href="{% url 'Inicio' %}"role="button">Eliminar Biblioteca</a>
</div>
{% endblock %}