{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
{% if form %}
<div class="containter">
    <p></p>
    <h5 class="m-5">Ingrese la informacion de una nueva Biblioteca:</h5>
    <div class="row m-5">
        <form action="" method="POST">
            <table>
                {% csrf_token %}
                {{form.as_table}}
            </table>
            <p></p>
            <input type="submit" value="Agregar">
        </form>
    </div>
</div> 
{% elif nueva_biblio %}
    <div class="col-3 text-center">  
        <div class="card mx-3" style="width: 18rem;">
            <img src="{{nueva_biblio.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title text-center">{{nueva_biblio.nombre}}</h5>
                <p class="card-text">{{nueva_biblio.apertura}}</p>
                <br>
                <a class="btn btn-outline-primary m-2" href="{{nueva_biblio.link}}" role="button">Sitio Web</a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}