
{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
    
<center><h1> Resultados de busqueda de {{nombre_de_usuario}} </h1></center>
<body>
    <center>
        {%if nombre %}
        <ul> 
            {% for nombre in nombre %}
            <li>Nombre de Usuario: {{nombre.nombre_de_usuario}}</li>
            <li>Nombre:            {{nombre.nombre}}</li>
            <li>Apellido:          {{nombre.apellido}}</li>
            <li>Email de Contacto: {{nombre.email}}</li>
            {% endfor %}
        </ul>
        
        {% endif %}
    </center>
</body>
{% endblock %}
