{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'hansel_gretel' %}">
                            <h2 class="post-title">Hänsel y Gretel</h2>
                            <h4 class="post-subtitle">Este cuento nos muestra un ejemplo claro de fraternidad y colaboración entre dos hermanos por salir adelante ante todo tipo de dificultades.</h4>
                            <h4 class="post-subtitle">Por otro lado, nos cuenta cómo el ingenio es capaz de acabar con las mayores dificultades, contándonos cómo Gretel se adelanta a la intención de la malvada bruja y acaba con ella.</h4>
                            <h4 class="post-subtitle">No hay que olvidar otro aspecto importante y quizás menos evidente de la historia; el de que “las apariencias engañan”, motivo por el cual no debemos fiarnos de ellas. Buen ejemplo de ello es el hecho de que aunque la vieja viviera en una casa de azúcar y bizcocho y quisiera cuidar de los niños, la historia nos demuestra que lo que en realidad quería era todo lo contrario.</h4>
                        </a>
                        <p class="post-meta">
                            Cuento de <a href="https://es.wikipedia.org/wiki/Hermanos_Grimm">Hermanos Grimm</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'gato_con_botas' %}">
                            <h2 class="post-title">El gato con botas</h2>
                            <h4 class="post-subtitle">Este cuento nos demuestra lo lejos que podemos llegar utilizando nuestro ingenio, tal y como hace el gato, que con su astucia es capaz de conseguir algo que a priori parece imposible como es el hecho de que el Rey quiera darle a su amo la mano de su hija.</h4>
                            <h4 class="post-subtitle">Sus esfuerzos por cumplir su objetivo son también un ejemplo de constancia y paciencia, pero sobre todo de generosidad, ya que lo hace para ayudar a su amo sin esperar nada a cambio.</h4>
                        </a>
                        <p class="post-meta">
                            Cuento de <a href="https://es.wikipedia.org/wiki/Charles_Perrault">Charles Perrault</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'tres_cerditos' %}">
                            <h2 class="post-title">Los 3 cerditos</h2>
                            <h4 class="post-subtitle">Este popular cuento sirve como magnífico ejemplo para que los niños entiendan el valor del esfuerzo y del trabajo. El hecho de que las casas de los dos cerditos holgazanes acaben por los suelos, mientras que la del cerdito más trabajador sea la que aguante y les sirva de cobijo, no es pura casualidad. Pone de manifiesto la importancia de esforzarse y trabajar si de verdad queremos vencer todo tipo de dificultades.</h4>
                            <h4 class="post-subtitle">El cuento también habla de otro valor como es la inteligencia. Lo hace a través del personaje del cerdito mayor, quien reflexiona a la hora de elegir el material con el que fabricará su casa y se decanta finalmente por los ladrillos una vez que ha valorado sus ventajas.</h4>
                            <h4 class="post-subtitle">Por otro lado el cuento también refleja el valor del ingenio, que les sirve a los cerditos para librarse definitivamente del lobo cuando creen que no tienen nada que hacer. Una vez más el ingenio vence a la fuerza.</h4>
                        </a>
                        <p class="post-meta">
                            Cuento de <a href="https://es.wikipedia.org/wiki/Los_tres_cerditos">Anónimo</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-center mb-4">
                        <a class="btn btn-primary m-2 text-uppercase" href="{% url 'crear_libro' %}">Crear cuento</a>
                        <a class="btn btn-primary m-2 text-uppercase" href="{% url 'busqueda_libro' %}">Buscar cuento</a>
                        <a class="btn btn-primary m-2 text-uppercase" href="https://www.google.com/search?q=cuentos+cortos&oq=cuentos+&aqs=chrome.0.69i59j0i131i433i512j69i57j0i131i433i512j69i60l4.2595j0j7&sourceid=chrome&ie=UTF-8">Mas cuentos →</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}